* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura PT";
}



.header {
    margin-top: 200px;
}
.container {
    max-width: 800px;
    background-color: blueviolet;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 50px;
    border: 2px solid black;
}


.container__text {
    font-size: 40px;
}

.container__timer {
    background-color: aliceblue;
    border-radius: 50px;
    border: 2px solid black;
    padding: 10px;
    font-size: 20px;
    
}

.todo-blocks {
    margin: auto;
    max-width: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item {
    width: 150px;
    height: 300px;
    border: 2px solid black;
    align-content: center;
    background-color: aquamarine;
}