$task-column-color: rgb(210, 233, 216);
$inprogress-column-color: rgb(194, 218, 42);
$done-column-color: rgb(110, 236, 110);

#task {
  background-color: $task-column-color;
}

#in-progress {
  background-color: $inprogress-column-color;
}

#done {
  background-color: $done-column-color;
}
