@import './column';
@import './body';
@import './header';
@import './todo';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura PT';
}

.header {
  margin-top: 50px;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  border: 2px solid black;

  &__text {
    font-size: 40px;
  }

  &__clock {
    font-size: 60px;
    font-family: Verdana, Arial, Sans-serif;
    text-align: center;
    color: #fff;

    & ul {
      margin: 0 auto;
      list-style: none;
    }

    & ul li {
      display: inline;
    }

    & ul li#separator {
      animation: myfade 1s ease infinite;
      animation: myfade 1s ease infinite;
    }
  }

  &__button {
    background: transparent;
    border: 0;
    transition: scale 0.5s;

    &:hover {
      scale: 1.5;
    }
  }
}

.todo-blocks {
  margin: auto;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.todo {
  width: 350px;
  height: 700px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 20px;
  position: sticky;
  top: -20px;

  &__img {
    margin: 0;
  }
}

.todo-work {
  padding: 10px;
  border: 2px solid red;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 20px;

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__discription {
    display: flex;
    justify-content: space-between;
  }

  &__time {
    display: flex;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    justify-content: space-between;
  }

  &_success {
    background-color: rgb(128, 202, 128);
  }

  &_error {
    background-color: rgb(175, 142, 81);
    margin-top: 50px;
  }

  &__space {
    padding: 5px;
    height: 1000px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__button_delete-all {
    bottom: 20px;
    position: sticky;
  }
}

.modals {
  width: 400px;
  background-color: rgb(212, 218, 176);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 20px;
  font-size: 20px;

  &__title {
    margin-top: 20px;
    height: 50px;
    padding: 5px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

.window-hide {
  display: none;
}

/* Animation Clock*/
@keyframes myfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
