@import './column';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Futura PT';
}

.header {
  margin-top: 50px;
}

.todo-header__img {
  margin: 0;
}
.container {
  max-width: 1000px;
  // background-color: rgb(53, 172, 184);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border-radius: 50px;
  border: 2px solid black;

  &__text {
    font-size: 40px;
  }

  &__clock {
    font-size: 60px;
    font-family: Verdana, Arial, Sans-serif;
    text-align: center;
    color: #fff;

    & ul {
      margin: 0 auto;
      list-style: none;
    }

    & ul li {
      display: inline;
    }

    & ul li#separator {
      animation: myfade 1s ease infinite;
      animation: myfade 1s ease infinite;
    }
  }
}

.todo-blocks {
  margin: auto;
  max-width: 1200px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
}

.todo {
  width: 350px;
  height: 1000px;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.todo-work {
  padding: 10px;
  border: 2px solid red;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 20px;

  &__title {
    display: flex;
    justify-content: space-between;
    gap: 25px;
  }

  &__discription {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__time {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__user {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &_success {
    background-color: rgb(128, 202, 128);
  }

  &_error {
    background-color: rgb(175, 142, 81);
    margin-top: 50px;
  }

  &__space {
    // background-color: rgb(59, 89, 116);
    padding: 5px;
    height: 1000px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  &__button_delete-all {
    bottom: 100%;
  }
}

.modals {
  max-width: 440px;
  background-color: rgb(212, 218, 176);
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 2px solid black;
  border-radius: 20px;

  &__title {
    margin-top: 20px;
  }
}

.window-hide {
  display: none;
}

/* Animation Clock*/
@keyframes myfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes myfade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
